   /* .navbar 1st ----------------------------*/
.nav1-container {
    background-color: #f72210;
    color: white;
}

.nav1-left {
    font: 16px/34px "Roboto Condensed",sans-serif;
    margin-bottom: 10px;
}

.news-week-logo {
    width: 440px;
    height: 100px;
}

.img-text-center {
    text-align: center;
}

.button-sing-in {
    color: white;
    text-decoration: none;
    font-size: 18px "Roboto Condensed",sans-serif;
    padding-bottom: 16px;
}

.button-sing-in:hover {
    text-decoration: none;
    color: white;
}

.button-subscribe {
    background-color: white;
    border-radius: 0;
    color: #f72210;
    padding: 0 3px;
    margin-bottom: 10px;
}

.button-subscribe:hover {
    background-color: white;
    color: #f72210;
}

.menu {
    display: none;
}

  /* navbar 2 ---------------------------*/
.navbar::before{
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    background-color:
    #f72210;
    border-left: 12px solid
    #fff;
    border-top: 13px solid
    #f72210;
}

.navbar {
    white-space: nowrap;
}

.ul-nav {
    flex-wrap: nowrap;
    font-size: 21px;
    font-family: "Roboto Condensed",sans-serif;
}

.search-input{
    border-color: transparent;
    width: 90px;
}

.nav-link {
    display: flex;
    height: 30px;
    padding: 0 5px;
}


 /* media queries */

 @media screen and (max-width: 1100px) {
     .search-icon {
         display: none;
     }

 }



 @media screen and (max-width: 1050px) {
    .navbar::before{
        display: none;
    }
    .ul-nav {
        width: 880px;
    }
     
 }

 @media screen and (max-width: 990px) {
         .nav1-container{
        height: 50px;
        display: grid;
    }
    .nav1-newsweek-logo {
        order: -1;
        text-align: left;
    }
    .news-week-logo {
        height: 50px;
        width: 200px;
    }
    .text-left {
        display: none;
    }
    .button-sing-in {
        margin: auto 0;
        width: 100px;
        padding: 0;
        margin-bottom: 12px;
    }
    .button-subscribe{
        height: 25px;      
        margin-bottom: 12px;
        margin-right: 7px;
    }
    .nav1-right {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    .menu{
        display: inline-block;
        font-size: 27px;
        color:#fb9a94;
    }
 }